<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gallery App</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur delectus, deleniti dignissimos expedita, magnam minima minus modi nihil nostrum omnis quisquam rem vel. Esse exercitationem molestias natus officiis ratione.</p>
    <img th:src="@{/assets/ai_app_24px2x.png}"/>
    <a th:href="@{'/projects/' + ${projects.projectName}}"><img th:src="@{'/assets/' + ${projects.projectName} + '.png'}" class="thumbnail" alt="Project1"/></a>
</body>
</html>